header{
    padding: 15px;
}

.search-input{
    width: 480px;
    margin-bottom: 60px;
}

.search-input input{
    height: 60px;
    background: var(--light-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0.375rem;
}

.search-icon{
    position: absolute;
    right: 16px;
    top: 50%;
    font-size: 25px;
    color: var(--main-color);
    width: 50px;
    transform: translatey(-50%);
}
